/*-----------------------------RESET-------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

/*------------------------------------------------------*/
body {
  height: 100%;
  font-family: "Lato-Bold";
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}

.btn {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  cursor: pointer;
}

.subtitle {
  margin: 0 0 8px 0;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
}

.title {
  font-family: "Lato-Black";
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}

.bg-wrap {
  background: url(../img/main-page/background1.png) 0 0/cover no-repeat;
}

.bg-wrap2 {
  background: url(../img/main-page/team/Background.png) 0 0/cover no-repeat;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 20px 0 140px 0;
}
.header__logo {
  margin: 0 60px 0 0;
}
.header__content {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__list li:not(:last-child) {
  margin: 0 40px 0 0;
}
.header__list a {
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.header__btns {
  display: flex;
  align-items: center;
}
.header__box {
  margin: 0 0 0 64px;
}

.btns__consultation {
  padding: 0 40px;
}
.btns a {
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.btns__log-in {
  position: relative;
  padding: 0 0 0 28px;
}
.btns__log-in::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  background-image: url(../img/main-page/header/Profile.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
}

.main__content {
  padding: 0 0 190px 0;
}
.main__row {
  display: flex;
  justify-content: space-between;
}
.main__column {
  margin: 0 175px 0 0;
}
.main__music-btn {
  display: flex;
  align-items: center;
  margin: 0 0 24px 0;
}
.main__music-btn button {
  position: relative;
  background-color: transparent;
  cursor: pointer;
}
.main__music-btn span {
  font-size: 14px;
  line-height: 150%;
  color: #1E212C;
  margin: 0 0 0 10px;
}
.main__hover {
  position: absolute;
  top: -15px;
  left: -10px;
  opacity: 0;
  width: 84px;
  height: 84px;
  transition: all 0.75s ease 0s;
}
.main__hover:hover {
  opacity: 1;
}
.main__title {
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #1E212C;
  margin: 0 0 60px 0;
}
.main__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 80px 0;
}
.main__item {
  display: flex;
  align-items: center;
}
.main__text {
  font-family: "Lato-Black";
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin: 0 12px 0 0;
}
.main__text-descr {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
}
.main__dot {
  height: 8px;
  width: 8px;
}

.btns__about-us {
  position: relative;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 4px;
  padding: 0px 40px;
  margin: 0 24px 0 0;
  cursor: pointer;
}
.btns__about-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  border: 1px solid transparent;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.btns__explore {
  padding: 0 40px;
}

.about {
  background-image: url(../img/main-page/about/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 180px 0 0 0;
}
.about__content {
  display: flex;
  justify-content: space-between;
  padding: 0 0 180px 0;
}
.about__column {
  margin: 0 0 0 135px;
}
.about__title {
  margin: 0 40px 0 0;
}
.about__list {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin: 0 0 48px 0;
}
.about__list li {
  list-style: url(../img/main-page/about/check.svg);
  list-style-position: inside;
}
.about__list li:not(:last-child) {
  margin: 0 0 12px 0;
}
.about__more-about {
  padding: 0 32px;
  cursor: pointer;
}

.courses__row {
  display: flex;
  justify-content: space-between;
  margin: 0 0 60px 0;
}
.courses__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.courses__btn a {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 4px;
  padding: 0px 40px;
  cursor: pointer;
}
.courses__btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  border: 1px solid transparent;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.courses__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 0;
  flex: 0 1 100%;
  padding: 0 0 165px 0;
}
.courses__item {
  display: flex;
  justify-content: flex-start;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  width: 600px;
}
.courses__box {
  margin: 32px;
}
.courses__badge {
  display: inline-block;
  font-family: "Lato-Regular";
  border-radius: 4px;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 1px 8px 1px 8px;
}
.courses__position {
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin: 20px 0 20px 0;
}
.courses__salary {
  display: block;
  font-family: "Lato-Regular";
  font-size: 18px;
  line-height: 150%;
  color: #787A80;
}
.courses__salary span {
  color: #FF4242;
}

.badge-marketing {
  background: #03CEA4;
}

.badge-management {
  background: #5A87FC;
}

.badge-hr-recruiting {
  background: #F89828;
}

.badge-design {
  background: #F52F6E;
}

.badge-development {
  background: #7772F1;
}

.benefits {
  background-color: #FFFFFF;
}
.benefits__text {
  text-align: center;
  padding: 0 0 60px 0;
}
.benefits__btns {
  display: flex;
  justify-content: space-between;
  padding: 0 0 60px 0;
}
.benefits__btn {
  position: relative;
  border-radius: 4px;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
  background-color: transparent;
  padding: 10px 0;
  transition: all 0.5s ease 0s;
  border: 1px solid #FFFFFF;
  flex: 1 1 auto;
  cursor: pointer;
}
.benefits__hover:hover {
  font-size: 16px;
  line-height: 160%;
  color: #FF3F3A;
  border: 1px solid #FF3F3A;
}
.benefits__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 120px 0;
}
.benefits__box {
  flex: 0 1 41%;
}
.benefits__box-title {
  font-family: "Lato-Black";
  font-size: 32px;
  line-height: 130%;
  color: #1E212C;
  margin: 0 0 24px 0;
}
.benefits__box-subtitle {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.active {
  font-size: 16px;
  line-height: 160%;
  color: #FF3F3A;
  border: 1px solid #FF3F3A;
}

.btns__tutors:before {
  position: absolute;
  content: "";
  top: 30%;
  left: 20%;
  background-image: url(../img/main-page/benefits/Star-gray.svg);
  height: 15px;
  width: 15px;
  transition: all 0.5s ease 0s;
}
.btns__tutors:hover:before {
  background-image: url(../img/main-page/benefits/Star-red.svg);
}
.btns__tutors.active:before {
  background-image: url(../img/main-page/benefits/Star-red.svg);
}
.btns__feedback:before {
  position: absolute;
  content: "";
  top: 30%;
  left: 20%;
  background-image: url(../img/main-page/benefits/like-grey.svg);
  height: 15px;
  width: 15px;
  transition: all 0.5s ease 0s;
}
.btns__feedback:hover:before {
  background-image: url(../img/main-page/benefits/like-red.svg);
}
.btns__feedback.active:before {
  background-image: url(../img/main-page/benefits/like-red.svg);
}
.btns__library:before {
  position: absolute;
  content: "";
  top: 30%;
  left: 20%;
  background-image: url(../img/main-page/benefits/Layouts-grey.svg);
  height: 15px;
  width: 15px;
  transition: all 0.5s ease 0s;
}
.btns__library:hover:before {
  background-image: url(../img/main-page/benefits/Layouts-red.svg);
}
.btns__library.active:before {
  background-image: url(../img/main-page/benefits/Layouts-red.svg);
}
.btns__community:before {
  position: absolute;
  content: "";
  top: 30%;
  left: 20%;
  background-image: url(../img/main-page/benefits/Chat-grey.svg);
  height: 15px;
  width: 15px;
  transition: all 0.5s ease 0s;
}
.btns__community:hover:before {
  background-image: url(../img/main-page/benefits/Chat-red.svg);
}
.btns__community.active:before {
  background-image: url(../img/main-page/benefits/Chat-red.svg);
}

.events {
  position: relative;
  background-image: url(../img/main-page/events/bg-color.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.events:before {
  position: absolute;
  content: url(../img/main-page/events/dots.svg);
  height: 159px;
  width: 116px;
  bottom: 0;
  left: 0;
}
.events__content {
  padding: 80px 0 0 0;
}
.events__text {
  text-align: center;
}
.events__column {
  display: grid;
  gap: 24px 0;
  padding: 0 0 60px 0;
}
.events__field {
  display: flex;
  padding: 32px 40px;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.events__foot {
  display: flex;
  justify-content: center;
  padding: 0 0 80px 0;
}
.events__descr {
  font-size: 28px;
  line-height: 150%;
  color: #1E212C;
  margin: 0 40px 0 0;
}
.events__btn {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  -webkit-background-clip: none;
  -webkit-text-fill-color: #FFFFFF;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
  padding: 0 40px;
  cursor: pointer;
}

.field {
  display: flex;
  align-items: flex-start;
}
.field__box {
  display: grid;
  grid-template-areas: "day month" "day time";
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.field__day {
  grid-area: day;
  font-family: "Lato-Black";
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #FF3F3A;
  align-items: center;
}
.field__month {
  grid-area: month;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}
.field__time {
  grid-area: time;
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}
.field__text {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0 0 0 40px;
}
.field__title {
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin: 0 0 4px 0;
}
.field__descr {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}
.field__btn {
  position: relative;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 4px;
  padding: 0 32px;
  cursor: pointer;
}
.field__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  border: 1px solid transparent;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.field__btn:hover {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  -webkit-background-clip: none;
  -webkit-text-fill-color: #FFFFFF;
}

.certificate__content {
  padding: 120px 0 120px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.certificate__column {
  flex: 0 1 32%;
}
.certificate__title {
  margin: 0 0 48px 0;
}
.certificate__descr {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.certificate__row {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 0 0;
}
.certificate__img {
  position: absolute;
  top: 120px;
  right: 0;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
}
.certificate__img-courses {
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
}

.team__content {
  padding: 166px 0 0 0;
  min-width: 0;
}
.slider {
  position: relative;
  overflow: hidden;
  padding: 60px 0 180px 0;
}
.slider__item {
  width: 100%;
  opacity: 0;
  text-align: center;
  position: relative;
  transition: all 0.5s ease 0s;
}
.slider__item:hover {
  transition: all 0.5s ease 0s;
  transform: scale(105%);
}
.slider__item:hover::before {
  opacity: 1;
}
.slider__item:hover .social {
  transition: all 0.5s ease 0s;
}
.slider__item:hover .social__facebook {
  display: block;
  opacity: 0.6;
}
.slider__item:hover .social__facebook:hover {
  opacity: 1;
}
.slider__item:hover .social__instagram {
  display: block;
  opacity: 0.6;
}
.slider__item:hover .social__instagram:hover {
  opacity: 1;
}
.slider__item:hover .social__linkedin {
  display: block;
  opacity: 0.6;
}
.slider__item:hover .social__linkedin:hover {
  opacity: 1;
}
.slider__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background-image: url(../img/main-page/team/slider/gradient.png);
  background-repeat: no-repeat;
  transition: all 0.5s ease 0s;
  opacity: 0;
}
.slider__img {
  margin: 0 0 16px 0;
}
.slider__name {
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin: 0 0 4px 0;
}
.slider__position {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}
.slider .slick-track {
  display: flex;
  justify-content: space-between;
}
.slider .slick-active {
  opacity: 1;
}
.slider .slick-arrow {
  position: absolute;
  font-size: 0;
}
.slider .slick-prev {
  top: 0;
  right: 64px;
  height: 48px;
  width: 48px;
  background: url(../img/main-page/team/slider/prev-hover.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px;
}
.slider .slick-prev.slick-disabled {
  background: url(../img/main-page/team/slider/prev-btn.png);
  background-repeat: no-repeat;
  background-position: center;
}
.slider .slick-next {
  top: 0;
  right: 0;
  height: 48px;
  width: 48px;
  background: url(../img/main-page/team/slider/next-hover.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px;
}
.slider .slick-next.slick-disabled {
  background: url(../img/main-page/team/slider/next-btn.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social {
  display: flex;
  position: absolute;
  bottom: 90px;
  right: 20px;
}
.social__facebook {
  display: none;
  opacity: 0;
  margin: 0 8px 0 0;
}
.social__instagram {
  display: none;
  opacity: 0;
  margin: 0 8px 0 0;
}
.social__linkedin {
  opacity: 0;
  display: none;
}

.testimonials__content {
  padding: 0 0 100px 0;
}
.testimonials__row {
  text-align: center;
}

.slider-wide {
  position: relative;
  overflow: hidden;
}
.slider-wide__item {
  padding: 60px 105px;
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.slider-wide__field {
  max-width: 1020px;
  min-height: 216px;
  background-color: #FFFFFF;
  padding: 64px 105px;
  display: flex;
  flex-direction: column;
}
.slider-wide__text {
  position: relative;
  font-family: "Lato-Regular";
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin: 0 0 24px 0;
  flex: 1 1 auto;
}
.slider-wide__text:before {
  position: absolute;
  content: url(../img/main-page/testimonials/braces.png);
  width: 28px;
  height: 20px;
  top: 0;
  left: -58px;
}
.slider-wide__badge {
  display: grid;
  grid-template-areas: "img name" "img position";
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: 72px 150px;
  justify-self: flex-end;
}
.slider-wide__img {
  grid-area: img;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}
.slider-wide__name {
  grid-area: name;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
  align-self: flex-end;
  margin: 0 0 4px 0;
}
.slider-wide__position {
  grid-area: position;
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
  align-self: flex-start;
}
.slider-wide .slick-track {
  display: flex;
  justify-content: space-between;
}
.slider-wide .slick-active {
  opacity: 1;
  transition: all 0.5s ease 0s;
}
.slider-wide .slick-arrow {
  position: absolute;
  font-size: 0;
  z-index: 10;
}
.slider-wide .slick-prev {
  top: 40%;
  left: 0;
  height: 48px;
  width: 48px;
  background: url(../img/main-page/team/slider/prev-hover.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px;
}
.slider-wide .slick-prev.slick-disabled {
  background: url(../img/main-page/team/slider/prev-btn.png);
  background-repeat: no-repeat;
  background-position: center;
}
.slider-wide .slick-next {
  top: 40%;
  right: 0;
  height: 48px;
  width: 48px;
  background: url(../img/main-page/team/slider/next-hover.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px;
}
.slider-wide .slick-next.slick-disabled {
  background: url(../img/main-page/team/slider/next-btn.png);
  background-repeat: no-repeat;
  background-position: center;
}
.slider-wide .slick-dots {
  display: flex;
  justify-content: center;
}
.slider-wide .slick-dots li:not(:last-child) {
  margin: 0 12px 0 0;
}
.slider-wide .slick-dots button {
  font-size: 0;
  width: 30px;
  height: 3px;
  background-color: #B3B7BC;
}
.slider-wide .slick-dots .slick-active button {
  background-color: #424551;
}

.blog__content {
  padding: 120px 0 180px 0;
}
.blog__row {
  display: flex;
  justify-content: space-between;
  padding: 0 0 60px 0;
}
.blog__btn {
  padding: 0 40px;
  align-self: flex-end;
}
.blog__box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.blog__item {
  position: relative;
  flex: 0 1 33.3%;
}
.blog__pseudo {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 1px 8px;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.blog__pseudo.mic:before {
  content: url(../img/main-page/blog/mic.svg);
  vertical-align: middle;
  margin: 0 4px 0 0;
}
.blog__pseudo.play:before {
  content: url(../img/main-page/blog/Play.svg);
  vertical-align: middle;
  margin: 0 4px 0 0;
}
.blog__pseudo.files:before {
  content: url(../img/main-page/blog/Files.svg);
  vertical-align: middle;
  margin: 0 4px 0 0;
}
.blog__img {
  border-radius: 4px;
}
.blog__item-row {
  padding: 16px 0;
}
.blog__item-row span {
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}
.blog__name {
  margin: 0 12px 0 0;
}
.blog__date {
  margin: 0 12px 0 0;
}
.blog__date:before {
  content: url(../img/main-page/blog/Calendar.svg);
  vertical-align: middle;
  margin: 0 8px 0 12px;
}
.blog__time:before {
  content: url(../img/main-page/blog/Clock.svg);
  vertical-align: middle;
  margin: 0 8px 0 12px;
}
.blog__text {
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin: 0 0 8px 0;
}
.blog__descr {
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin: 0 0 16px 0;
}
.blog__link {
  position: relative;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
  padding: 0 8px 0 0;
}
.blog__link:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../img/main-page/blog/Right.svg);
  background-size: cover;
  background-repeat: no-repeat;
  right: -24px;
}

.subscribe {
  position: relative;
  display: flex;
  background: url(../img/main-page/subscribe/background.png) 0 0/cover no-repeat;
}
.subscribe:before {
  position: absolute;
  content: url(../img/main-page/subscribe/illustration.png);
  bottom: 0;
  left: 0;
}
.subscribe:after {
  position: absolute;
  content: url(../img/main-page/subscribe/illustration.png);
  bottom: 0;
  right: 0;
}
.subscribe__content {
  padding: 120px 0 180px 0;
  text-align: center;
}
.subscribe__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 0 0;
}
.subscribe__input {
  height: 50px;
  width: 408px;
  background: #FFFFFF;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding: 0 0 0 16px;
  margin: 0 24px 0 0;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
  outline: none;
}
.subscribe__btn {
  padding: 0 40px;
  outline: none;
  border: none;
}

.footer {
  background: #1E212C;
}
.footer__content {
  padding: 80px 0 60px 0;
  display: grid;
  grid-template-columns: 23% 7% 9% 11% 24%;
  grid-template-rows: 1fr;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.footer__item {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  margin: 0 0 24px 0;
}
.footer__descr {
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
  margin: 0 0 28px 0;
}
.footer__social a:not(:last-child) {
  margin: 0 20px 0 0;
}
.footer__title {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 12px 0;
}
.footer__subtitle {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.6;
}
.footer__subtitle:not(:last-child) {
  margin: 0 0 8px 0;
}
.footer__input {
  display: flex;
  width: 292px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 34px;
  vertical-align: middle;
  border-radius: 4px;
}
.footer__input-field {
  background: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 244px;
  vertical-align: middle;
  height: 36px;
  color: #FFFFFF;
  padding: 0 0 0 12px;
}
.footer__input-submit {
  padding: 0;
  margin: 0;
  height: 36px;
  vertical-align: middle;
  background: transparent url(../img/main-page/footer/LineStroke.svg) no-repeat 50% 50%;
  width: 36px;
  font-size: 0;
  border: none;
  cursor: pointer;
}
.footer__txt {
  font-family: "Lato-Regular";
  font-size: 10px;
  line-height: 150%;
  color: #FFFFFF;
  margin: 12px 0 0 0;
}
.footer__end {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.footer__end a {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
}
.footer__end-wrap {
  background: url(../img/main-page/footer/background-end.png) 0 0/cover no-repeat;
}
.footer__text {
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
}

/*-----------------------------------------COURSES.HTML----------------------------*/
.courses-in-details a {
  display: flex;
}
.courses-in-details__text {
  text-align: center;
  padding: 0 0 60px 0;
  margin: -60px 0 0 0;
}
.courses-in-details__subtitle {
  margin: 0 0 8px 0;
}
.courses-in-details__title {
  font-family: "Lato-Black";
}
.courses-in-details__row {
  display: flex;
  justify-content: space-between;
  padding: 0 0 60px 0;
  align-items: center;
}
.courses-in-details__list {
  display: flex;
}
.courses-in-details__list li {
  border: 1px solid transparent;
}
.courses-in-details__list li:not(:last-child) {
  margin: 0 12px 0 0;
}
.courses-in-details__list li a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.courses-in-details__list li a:hover {
  color: #FF3F3A;
  border: 1px solid #FF3F3A;
}
.courses-in-details__list li a.active {
  color: #FF3F3A;
  border: 1px solid #FF3F3A;
}
.courses-in-details__input {
  width: 286px;
  background: #FFFFFF;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  min-height: 44px;
  display: flex;
}
.courses-in-details__input-field {
  background: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 242px;
  vertical-align: middle;
  height: 44px;
  padding: 0 0 0 12px;
  font-size: 14px;
  line-height: 150%;
  color: #9A9CA5;
}
.courses-in-details__input-submit {
  padding: 0;
  margin: 0;
  height: 44px;
  vertical-align: middle;
  background: transparent url(../img/courses-page/courses-in-details/search.svg) no-repeat 50% 50%;
  width: 44px;
  font-size: 0;
  border: none;
  cursor: pointer;
}
.courses-in-details__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 26px;
  padding: 0 0 120px 0;
}
.courses-in-details__item {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}
.courses-in-details__img {
  max-width: 390px;
  max-height: 420px;
}

.main-course-fisher__text {
  text-align: center;
  padding: 0 0 120px 0;
}
.main-course-fisher__subtitle {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FF3F3A;
}
.main-course-fisher__title {
  font-family: "Lato-Black";
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}

.about-fisher__content {
  display: flex;
  gap: 135px;
  padding: 120px 0 184px 0;
}
.about-fisher__text {
  flex: 1 1 70%;
}
.about-fisher__title {
  font-family: "Lato-Black";
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin: 0 0 40px 0;
}
.about-fisher__subtitle {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin: 0 0 48px 0;
}
.about-fisher__list-name {
  font-size: 28px;
  line-height: 150%;
  color: #1E212C;
  margin: 0 0 24px 0;
}
.about-fisher__list li {
  list-style-image: url(../img/course-fisher/about-fisher/check.svg);
  list-style-position: inside;
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.about-fisher__list li:not(:last-child) {
  margin: 0 0 4px 0;
}
.about-fisher__join {
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
}
.about-fisher__join-item {
  display: flex;
  flex-direction: column;
}
.about-fisher__join-item:not(:last-child) {
  margin: 0 0 32px 0;
}
.about-fisher__dates {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin: 0 0 4px 0;
}
.about-fisher__duration {
  font-size: 24px;
  line-height: 130%;
  color: #FF3F3A;
  margin: 0 0 8px 0;
}
.about-fisher__descr {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}
.about-fisher__btn {
  margin: 40px 0 0 0;
}

.fished-bg {
  background: url(../img/course-fisher/Background.png) 0 0/cover no-repeat;
}

.curator-fisher__content {
  display: flex;
  justify-content: space-between;
  gap: 135px;
  padding: 0 0 180px 0;
}
.curator-fisher__subtitle {
  margin: 0 0 8px 0;
}
.curator-fisher__title {
  margin: 0 0 16px 0;
}
.curator-fisher__position {
  font-family: "Lato-Regular";
  font-size: 20px;
  line-height: 150%;
  color: #787A80;
  margin: 0 0 32px 0;
}
.curator-fisher__list {
  list-style-position: inside;
  margin: 0 0 32px 0;
}
.curator-fisher__star {
  list-style-image: url(../img/course-fisher/curator-fisher/list/Star.svg);
}
.curator-fisher__play {
  list-style-image: url(../img/course-fisher/curator-fisher/list/Play.svg);
}
.curator-fisher__pfp {
  list-style-image: url(../img/course-fisher/curator-fisher/list/Profile.svg);
}
.curator-fisher__descr {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin: 0 0 40px 0;
}
.curator-fisher__social {
  display: flex;
  align-items: center;
}
.curator-fisher__social a:not(:last-child) {
  margin: 0 24px 0 0;
}
.curator-fisher__facebook {
  height: 24px;
  width: 24px;
  background: url(../img/course-fisher/curator-fisher/social/Facebook.svg) 0 0/cover no-repeat;
}
.curator-fisher__facebook:hover {
  background: url(../img/course-fisher/curator-fisher/social-hover/Facebook.svg) 0 0/cover no-repeat;
}
.curator-fisher__behance {
  height: 24px;
  width: 24px;
  background: url(../img/course-fisher/curator-fisher/social/behance.svg) 0 0/cover no-repeat;
}
.curator-fisher__behance:hover {
  background: url(../img/course-fisher/curator-fisher/social-hover/behance.svg) 0 0/cover no-repeat;
}
.curator-fisher__twitter {
  height: 24px;
  width: 24px;
  background: url(../img/course-fisher/curator-fisher/social/Twitter.svg) 0 0/cover no-repeat;
}
.curator-fisher__twitter:hover {
  background: url(../img/course-fisher/curator-fisher/social-hover/Twitter.svg) 0 0/cover no-repeat;
}
.curator-fisher__linkedin {
  height: 24px;
  width: 24px;
  background: url(../img/course-fisher/curator-fisher/social/Linked-In.svg) 0 0/cover no-repeat;
}
.curator-fisher__linkedin:hover {
  background: url(../img/course-fisher/curator-fisher/social-hover/Linked-In.svg) 0 0/cover no-repeat;
}

.steps-fisher__content {
  padding: 0 0 180px 0;
}
.steps-fisher__text {
  text-align: center;
  padding: 0 0 60px 0;
}
.steps-fisher__row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0 0 180px 0;
}
.steps-fisher__item {
  flex: 0 1 25%;
}
.steps-fisher__number {
  font-family: "Lato-Black";
  font-size: 46px;
  line-height: 130%;
  color: #D7DADD;
  margin: 0 0 16px 0;
}
.steps-fisher__txt {
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin: 0 0 8px 0;
}
.steps-fisher__paragraph {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}

.discount__head {
  position: relative;
  background: url(../img/course-fisher/steps-fisher/bg-color.png) 0 0/cover no-repeat;
  padding: 48px 60px 48px 62px;
  border-radius: 4px;
}
.discount__head::before {
  position: absolute;
  content: url(../img/course-fisher/steps-fisher/circles.png);
  top: 0;
  left: 50%;
}
.discount__row {
  display: flex;
  justify-content: space-between;
  padding: 0 0 32px 0;
}
.discount__title {
  font-family: "Lato-Black";
  font-size: 32px;
  line-height: 130%;
  color: #1E212C;
}
.discount__timer {
  display: flex;
}
.discount__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.discount__item:not(:last-child) {
  margin: 0 24px 0 0;
}
.discount__time {
  font-size: 20px;
  line-height: 130%;
  color: #1E212C;
}
.discount__period {
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 150%;
  color: #1E212C;
}
.discount__inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discount__inputs p {
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  margin: 0 0 8px 0;
}
.discount__inputs input {
  outline: none;
  background-color: #FFFFFF;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  height: 28px;
  padding: 11px 0 11px 16px;
  width: 273px;
  font-size: 14px;
  line-height: 150%;
  color: #9A9CA5;
}
.discount__submit {
  align-self: flex-end;
  padding: 0 32px;
}

.purpose-fisher__content {
  display: flex;
  justify-content: space-between;
  padding: 0 0 180px 0;
}
.purpose-fisher__text {
  margin: 0 170px 0 0;
}
.purpose-fisher__list {
  padding: 32px 0 0 0;
  flex: 0 1 60%;
}
.purpose-fisher__list-item {
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  list-style: url(../img/course-fisher/purpose-fisher/check.svg);
  list-style-position: outside;
}
.purpose-fisher__list-item:not(:last-child) {
  margin: 0 0 20px 0;
}

.program-fisher__content {
  display: flex;
  justify-content: space-between;
  padding: 0 0 120px 0;
}
.program-fisher__text {
  padding: 0 0 60px 0;
}
.program-fisher__list-item {
  list-style: url(../img/course-fisher/program-fisher/Plus.svg);
  list-style-position: outside;
}
.program-fisher__list-item:not(:last-child) {
  margin: 0 0 24px 0;
}
.program-fisher__list-item.active {
  border: none;
  list-style-image: url(../img/course-fisher/program-fisher/Minus.svg);
}
.program-fisher__list-item.active .program-fisher__descr {
  display: block;
}
.program-fisher__paragraph {
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  cursor: pointer;
}
.program-fisher__paragraph span {
  font-family: "Lato-Regular";
  font-size: 20px;
  line-height: 150%;
  color: #FF3F3A;
}
.program-fisher__descr {
  display: none;
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.grey-wrap {
  background-color: #F4F5F7;
  padding: 80px 0 0 0;
}

.register-fisher__content {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 100px 0;
  gap: 185px;
}
.register-fisher__title {
  margin: 0 0 40px 0;
}
.register-fisher__inputs {
  display: flex;
  flex-direction: column;
}
.register-fisher__inputs p {
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  margin: 0 0 8px 0;
}
.register-fisher__inputs input {
  outline: none;
  background-color: #FFFFFF;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  height: 28px;
  padding: 11px 0 11px 16px;
  width: 96%;
  font-size: 14px;
  line-height: 150%;
  color: #9A9CA5;
}
.register-fisher__inputs form {
  margin: 0 0 24px 0;
}
.register-fisher__submit {
  margin: 16px 0 0 0;
}/*# sourceMappingURL=style.css.map */