/*-----------------------------RESET-------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

/*------------------------------------------------------*/
body {
  height: 100%;
  font-family: "Lato-Bold";
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}

.btn {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  cursor: pointer;
}

.subtitle {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
}

.title {
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}

.bg-wrap {
  background-image: url(../img/background1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 20px 0 140px 0;
}
.header__logo {
  margin: 0 60px 0 0;
}
.header__content {
  display: flex;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__list li:not(:last-child) {
  margin: 0 40px 0 0;
}
.header__list a {
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.header__btns {
  display: flex;
  align-items: center;
}
.header__box {
  margin: 0 0 0 64px;
}

.btns__consultation {
  padding: 0 40px;
}
.btns a {
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.btns__log-in {
  position: relative;
}
.btns__log-in::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -28px;
  background-image: url(../img/header/Profile.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
}

.main__content {
  padding: 0 0 190px 0;
}
.main__row {
  display: flex;
  justify-content: space-between;
}
.main__column {
  margin: 0 175px 0 0;
}
.main__music-btn {
  display: flex;
  align-items: center;
  margin: 0 0 24px 0;
}
.main__music-btn button {
  position: relative;
  background-color: transparent;
  cursor: pointer;
}
.main__music-btn span {
  font-size: 14px;
  line-height: 150%;
  color: #1E212C;
  margin: 0 0 0 10px;
}
.main__hover {
  position: absolute;
  top: -15px;
  left: -10px;
  opacity: 0;
  width: 84px;
  height: 84px;
  transition: all 0.75s ease 0s;
}
.main__hover:hover {
  transition: all 0.75s ease 0s;
  opacity: 1;
}
.main__title {
  font-family: "Lato-Black";
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #1E212C;
  margin: 0 0 60px 0;
}
.main__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 80px 0;
}
.main__item {
  display: flex;
  align-items: center;
}
.main__text {
  font-family: "Lato-Black";
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin: 0 12px 0 0;
}
.main__text-descr {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
}
.main__dot {
  height: 8px;
  width: 8px;
}

.btns__about-us {
  position: relative;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 4px;
  padding: 0px 40px;
  margin: 0 24px 0 0;
  cursor: pointer;
}
.btns__about-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  border: 1px solid transparent;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.btns__explore {
  padding: 0 40px;
}

.about {
  background-image: url(../img/about/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 180px 0 0 0;
}
.about__content {
  display: flex;
  justify-content: space-between;
  padding: 0 0 180px 0;
}
.about__column {
  margin: 0 0 0 135px;
}
.about__subtitle {
  margin: 0 8px 0 0;
}
.about__title {
  margin: 0 40px 0 0;
}
.about__list {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin: 0 0 48px 0;
}
.about__list li {
  list-style: url(../img/about/check.svg);
  list-style-position: inside;
}
.about__list li:not(:last-child) {
  margin: 0 0 12px 0;
}
.about__more-about {
  padding: 0 32px;
  cursor: pointer;
}

.courses__row {
  display: flex;
  justify-content: space-between;
  margin: 0 0 60px 0;
}
.courses__subtitle {
  margin: 0 0 8px 0;
}
.courses__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.courses__btn button {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 4px;
  padding: 0px 40px;
  cursor: pointer;
}
.courses__btn button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  border: 1px solid transparent;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.courses__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 1 100%;
  padding: -15px 0;
}
.courses__item {
  display: flex;
  justify-content: flex-start;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  width: 600px;
  margin: 15px 0;
}
.courses__box {
  margin: 32px;
}
.courses__badge {
  font-family: "Lato-Regular";
  border-radius: 4px;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 1px 8px 1px 8px;
}
.courses__position {
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin: 0 0 20px 0;
}
.courses__salary {
  font-family: "Lato-Regular";
  font-size: 18px;
  line-height: 150%;
  color: #787A80;
}
.courses__salary span {
  color: #FF4242;
}

.badge-green {
  background: #03CEA4;
}

.badge-blue {
  background: #5A87FC;
}

.badge-orange {
  background: #F89828;
}

.badge-red {
  background: #F52F6E;
}/*# sourceMappingURL=style.css.map */