/*-----------------------------RESET-------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border: none;
	outline: none;
}

a {
	text-decoration: none;
}

/*-----------------------------RESET-------------------------*/

body {
    height: 100%;
    font-family: 'Lato-Bold';
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

//-------------------------------HEADER-----------------------------//

.bg-wrap {
	background-image: url(../img/background1.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 52px;
	}

	&__logo {
		margin: 0 60px 0 0;
	}

	&__content {
		display: flex;
	}

	&__list {
		display: flex;
		align-items: center;
		& li:not(:last-child) {
			margin: 0 40px 0 0;
		}
		& a {
			font-size: 16px;
			line-height: 160%;
			color: #424551;
		}
	}

	&__btns {
		display: flex;
		align-items: center;
	}

	&__box {
		margin: 0 0 0 64px;
	}
}

.btns {

	&__consultation {
		background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
		border-radius: 4px;
		font-size: 16px;
		line-height: 325%;
		letter-spacing: 0.5px;
		color: #FFFFFF;
		padding: 0 40px;
	}
	& a {
		font-size: 16px;
		line-height: 160%;
		color: #424551;
	}
	&__log-in {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: -2px;
			left: -28px;
			background-image: url(../img/header/Profile.svg);
			background-size: cover;
			width: 20px;
			height: 20px;
		}
	}
}
