/*-----------------------------RESET-------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border: none;
	outline: none;
}

a {
	text-decoration: none;
}

/*------------------------------------------------------*/

body {
    height: 100%;
    font-family: 'Lato-Bold';
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

.btn {
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	font-size: 16px;
	line-height: 325%;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	cursor: pointer;
}

.subtitle {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1E212C;

}

.title {
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
}
//-------------------------------HEADER-----------------------------//

.bg-wrap {
	background-image: url(../img/main-page/background1.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-wrap2 {
	background-image: url(../img/main-page/team/Background.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 52px;
		padding: 20px 0 140px 0;
	}

	&__logo {
		margin: 0 60px 0 0;
	}

	&__content {
		display: flex;
	}

	&__list {
		display: flex;
		align-items: center;
		& li:not(:last-child) {
			margin: 0 40px 0 0;
		}
		& a {
			font-size: 16px;
			line-height: 160%;
			color: #424551;
		}
	}

	&__btns {
		display: flex;
		align-items: center;
	}

	&__box {
		margin: 0 0 0 64px;
	}
}

.btns {
	&__consultation {
		padding: 0 40px;
	}
	& a {
		font-size: 16px;
		line-height: 160%;
		color: #424551;
	}
	&__log-in {
		position: relative;
		padding: 0 0 0 28px;
		&::before {
			content: '';
			position: absolute;
			top: -2px;
			left: 0;
			background-image: url(../img/main-page/header/Profile.svg);
			background-size: cover;
			width: 20px;
			height: 20px;
		}
	}
}

//-----------------------------------MAIN------------------------------------//



.main {

	&__content {
		padding: 0 0 190px 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__column {
		margin: 0 175px 0 0;
	}

	&__music-btn {
		display: flex;
		align-items: center;
		margin: 0 0 24px 0;
		& button {
			position: relative;
			background-color: transparent;
			cursor: pointer;
		}
		& span {
			font-size: 14px;
			line-height: 150%;
			color: #1E212C;
			margin: 0 0 0 10px;
		}
	}
	&__hover {
		position: absolute;
		top: -15px;
		left: -10px;
		opacity: 0;
		width: 84px;
		height: 84px;
		transition: all 0.75s ease 0s;
		&:hover {
			transition: all 0.75s ease 0s;
			opacity: 1;
		}
	}

	&__title {
		font-family: 'Lato-Black';
		font-size: 64px;
		line-height: 130%;
		letter-spacing: 1px;
		color: #1E212C;
		margin: 0 0 60px 0;
	}

	&__btns {
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 0 80px 0;
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__text {
		font-family: 'Lato-Black';
		font-size: 46px;
		line-height: 130%;
		color: #1E212C;
		margin: 0 12px 0 0;
	}

	&__text-descr {
		font-family: 'Lato-Regular';
		font-size: 16px;
		line-height: 160%;
		color: #1E212C;
	}

	&__dot {
		height: 8px;
		width: 8px;
	}
}

.btns {
	&__about-us {
		position: relative;
		font-size: 16px;
		line-height: 52px;
		letter-spacing: 0.5px;
		background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		border-radius: 4px;
		padding: 0px 40px;
		margin: 0 24px 0 0;
		cursor: pointer;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 4px; 
			border: 1px solid transparent;
			background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
			-webkit-mask:
			  linear-gradient(#fff 0 0) padding-box, 
			  linear-gradient(#fff 0 0);
			-webkit-mask-composite: destination-out;
			mask-composite: exclude;
		}
	}

	&__explore {
		padding: 0 40px;
	}
}

.about {
	background-image: url(../img/main-page/about/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 180px 0 0 0;
	&__content {
		display: flex;
		justify-content: space-between;
		padding: 0 0 180px 0;
	}

	&__column {
		margin: 0 0 0 135px;
	}

	&__subtitle {
		margin: 0 8px 0 0;
	}

	&__title {
		margin: 0 40px 0 0;
	}

	&__list {
		font-family: 'Lato-Regular';
		font-size: 16px;
		line-height: 160%;
		color: #424551;
		margin: 0 0 48px 0;
		& li {
			list-style: url(../img/main-page/about/check.svg);
			list-style-position: inside;
			&:not(:last-child) {
				margin: 0 0 12px 0;
			}
		}
	}

	&__more-about {
		padding: 0 32px;
		cursor: pointer;
	}
}

.courses {

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0 0 60px 0;
	}

	&__text {
	}

	&__subtitle {
		margin: 0 0 8px 0;
	}

	&__title {
	}

	&__btn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		& button {
			position: relative;
			font-weight: 700;
			font-size: 16px;
			line-height: 52px;
			letter-spacing: 0.5px;
			background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			border-radius: 4px;
			padding: 0px 40px;
			cursor: pointer;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 4px; 
				border: 1px solid transparent;
				background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
				-webkit-mask:
				  linear-gradient(#fff 0 0) padding-box, 
				  linear-gradient(#fff 0 0);
				-webkit-mask-composite: destination-out;
				mask-composite: exclude;
			}
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 30px 0;
		flex: 0 1 100%;
		padding: 0 0 165px 0;
	}

	&__item {
		display: flex;
		justify-content: flex-start;
		background: #FFFFFF;
		border: 1px solid #E5E8ED;
		box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
		border-radius: 4px;
		width: 600px;
	}

	&__img {
	}

	&__box {
		margin: 32px;
	}

	&__badge {
		display: inline-block;
		font-family: 'Lato-Regular';
		border-radius: 4px;
		font-size: 14px;
		line-height: 150%;
		color: #FFFFFF;
		padding: 1px 8px 1px 8px;
	}

	&__position {
		font-size: 20px;
		line-height: 150%;
		color: #1E212C;
		margin: 20px 0 20px 0;
	}

	&__salary {
		display: block;
		font-family: 'Lato-Regular';
		font-size: 18px;
		line-height: 150%;
		color: #787A80;
		& span {
			color: #FF4242;
		}
	}
}

.badge-green {
	background: #03CEA4;
}

.badge-blue {
	background: #5A87FC;
}

.badge-orange {
	background: #F89828;
}

.badge-red {
	background: #F52F6E;
}

.benefits {
	background-color: #FFFFFF;
	&__content {
	}

	&__text {
		text-align: center;
		padding: 0 0 60px 0;
	}

	&__subtitle {
		margin: 0 0 8px 0;
	}

	&__title {
	}

	&__btns {
		display: flex;
		justify-content: space-between;
		padding: 0 0 60px 0;
	}

	&__btn {
		position: relative;
		border-radius: 4px;
		font-size: 16px;
		line-height: 160%;
		color: #9A9CA5;
		background-color: transparent;
		padding: 10px 0;
		transition: all 0.5s ease 0s;
		border: 1px solid #FFFFFF;
		flex: 1 1 auto;
	}

	&__hover {
		&:hover {
			font-size: 16px;
			line-height: 160%;
			color: #FF3F3A;
			border: 1px solid #FF3F3A;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 120px 0;
	}

	&__box {
		flex: 0 1 41%;
	}

	&__box-title {
		font-family: 'Lato-Black';
		font-size: 32px;
		line-height: 130%;
		color: #1E212C;
		margin: 0 0 24px 0;
	}

	&__box-subtitle {
		font-family: 'Lato-Regular';
		font-size: 16px;
		line-height: 160%;
		color: #424551;
	}
}

.active {
	font-size: 16px;
	line-height: 160%;
	color: #FF3F3A;
	border: 1px solid #FF3F3A;
}

.btns {
	&__tutors {
		&:before {
			position: absolute;
			content: '';
			top: 30%;
			left: 20%;
			background-image: url(../img/main-page/benefits/Star-gray.svg);
			height: 15px;
			width: 15px;
			transition: all 0.5s ease 0s;
		}
		&:hover {
			&:before {
				background-image: url(../img/main-page/benefits/Star-red.svg);
			}
		}
		&.active {
			&:before {
				background-image: url(../img/main-page/benefits/Star-red.svg);
			}
		}
	}

	&__feedback {
		&:before {
			position: absolute;
			content: '';
			top: 30%;
			left: 20%;
			background-image: url(../img/main-page/benefits/like-grey.svg);
			height: 15px;
			width: 15px;
			transition: all 0.5s ease 0s;
		}
		&:hover {
			&:before {
				background-image: url(../img/main-page/benefits/like-red.svg);
			}
		}
		&.active {
			&:before {
				background-image: url(../img/main-page/benefits/like-red.svg);
			}
		}
	}

	&__library {
		&:before {
			position: absolute;
			content: '';
			top: 30%;
			left: 20%;
			background-image: url(../img/main-page/benefits/Layouts-grey.svg);
			height: 15px;
			width: 15px;
			transition: all 0.5s ease 0s;
		}
		&:hover {
			&:before {
				background-image: url(../img/main-page/benefits/Layouts-red.svg);
			}
		}
		&.active {
			&:before {
				background-image: url(../img/main-page/benefits/Layouts-red.svg);
			}
		}
	}

	&__community {
		&:before {
			position: absolute;
			content: '';
			top: 30%;
			left: 20%;
			background-image: url(../img/main-page/benefits/Chat-grey.svg);
			height: 15px;
			width: 15px;
			transition: all 0.5s ease 0s;
		}
		&:hover {
			&:before {
				background-image: url(../img/main-page/benefits/Chat-red.svg);
			}
		}
		&.active {
			&:before {
				background-image: url(../img/main-page/benefits/Chat-red.svg);
			}
		}
	}
}

.events {
	position: relative;
	background-image: url(../img/main-page/events/bg-color.png);
	background-size: cover;
	background-repeat: no-repeat;
	&:before {
		position: absolute;
		content: url(../img/main-page/events/dots.svg);
		height: 159px;
		width: 116px;
		bottom: 0;
		left: 0;
	}
	&__content {
		padding: 80px 0 0 0;
	}

	&__text {
		text-align: center;
	}

	&__subtitle {
	}

	&__title {
	}

	&__column {
		display: grid;
		gap: 24px 0;
		padding: 0 0 60px 0;
	}

	&__field {
		display: flex;
		padding: 32px 40px;
		background-color: #FFFFFF;
		border-radius: 4px;
	}

	&__foot {
		display: flex;
		justify-content: center;
		padding: 0 0 80px 0;
	}

	&__descr {
		font-size: 28px;
		line-height: 150%;
		color: #1E212C;
		margin: 0 40px 0 0;
	}

	&__btn {
		background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
		border-radius: 4px;
		-webkit-background-clip: none;
		-webkit-text-fill-color: #FFFFFF;
		font-size: 14px;
		line-height: 44px;
		letter-spacing: 0.5px;
		padding: 0 40px;
		cursor: pointer;
	}
}

.field {
	display: flex;
	align-items: flex-start;
	&__box {
		display: grid;
		grid-template-areas: 'day month''day time';
		column-gap: 20px;
	}

	&__day {
		grid-area: day;
		font-family: 'Lato-Black';
		font-size: 48px;
		line-height: 130%;
		letter-spacing: 1px;
		color: #FF3F3A;
		align-items: center;
	}

	&__month {
		grid-area: month;
		font-size: 20px;
		line-height: 150%;
		color: #1E212C;
	}

	&__time {
		grid-area: time;
		font-family: 'Lato-Regular';
		font-size: 16px;
		line-height: 160%;
		color: #787A80;
	}

	&__text {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		padding: 0 0 0 40px;
	}

	&__title {
		font-size: 20px;
		line-height: 150%;
		color: #1E212C;
		margin: 0 0 4px 0;
	}

	&__descr {
		font-family: 'Lato-Regular';
		font-size: 16px;
		line-height: 160%;
		color: #787A80;
	}

	&__btn {
		position: relative;
		font-size: 14px;
		line-height: 44px;
		letter-spacing: 0.5px;
		background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		border-radius: 4px;
		padding: 0 32px;
		cursor: pointer;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 4px; 
			border: 1px solid transparent;
			background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
			-webkit-mask:
				linear-gradient(#fff 0 0) padding-box, 
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: destination-out;
			mask-composite: exclude;
		}
		&:hover {
			background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
			border-radius: 4px;
			-webkit-background-clip: none;
			-webkit-text-fill-color: #FFFFFF;
		}
	}
}

.certificate {

	&__content {
		padding: 120px 0 120px 0;
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	&__column {
		flex: 0 1 32%;
	}

	&__subtitle {
		margin: 0 0 8px 0;
	}

	&__title {
		font-family: 'Lato-Black';
		margin: 0 0 48px 0;
	}

	&__descr {
		font-family: 'Lato-Regular';
		font-size: 16px;
		line-height: 160%;
		color: #424551;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 32px 0 0 0;
	}

	&__img {
		position: absolute;
		top: 120px;
		right: 0;
		border: 1px solid #E5E8ED;
		box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
		border-radius: 4px;
	}
}

.team {

	&__content {
		padding: 166px 0 180px 0;
		min-width: 0;
	}

	&__row {
	}

	&__subtitle {
		margin: 0 0 8px 0;
	}

	&__title {
		font-family: 'Lato-Black';
	}
}

.slider {
	position: relative;
	overflow: hidden;
	&__item {
		width: 100%;
		opacity: 0;
		text-align: center;
		position: relative;
		transition: all 0.5s ease 0s;
		&:hover {
			transition: all 0.5s ease 0s;
			transform: scale(105%);
			&::before {
				opacity: 1;
			}
			& .social {
				display: block;
				opacity: 1;
				transition: all 0.5s ease 0s;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 12px;
			right: 0;
			bottom: 0;
			border-radius: 4px; 
			background-image: url(../img/main-page/team/slider/gradient.png);
			background-repeat: no-repeat;
			transition: all 0.5s ease 0s;
			opacity: 0;
		}
	}

	&__img {
		margin: 0 0 16px 0;
	}
	

	&__name {
		font-size: 20px;
		line-height: 150%;
		color: #424551;
		margin: 0 0 4px 0;
	}

	&__position {
		font-family: 'Lato-Regular';
		font-size: 16px;
		line-height: 160%;
		color: #787A80;
	}
}
.social {
	display: none;
	position: absolute;
	bottom: 90px;
	right: 20px;
	opacity: 0;
	&__facebook {
		margin: 0 8px 0 0;
	}

	&__instagram {
		margin: 0 8px 0 0;
	}

	&__linkedin {
	}
}

.slider {
	padding: 60px 0 0 0;
	& .slick-track {
		display: flex;
		justify-content: space-between;
	}
	& .slick-active {
		opacity: 1;
	}
	& .slick-arrow {
		position: absolute;
		font-size: 0;
	}
	& .slick-prev {
		top: 0;
		right: 64px;
		height: 48px;
		width: 48px;
		background: url(../img/main-page/team/slider/prev-hover.png);
		background-repeat: no-repeat;
		background-position: center;
		padding: 24px;
		&.slick-disabled {
			background: url(../img/main-page/team/slider/prev-btn.png);
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	& .slick-next {
		top: 0;
		right: 0;
		height: 48px;
		width: 48px;
		background: url(../img/main-page/team/slider/next-hover.png);
		background-repeat: no-repeat;
		background-position: center;
		padding: 24px;
		&.slick-disabled {
			background: url(../img/main-page/team/slider/next-btn.png);
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.testimonials {

	&__content {
		padding: 0 0 100px 0;
	}

	&__row {
		text-align: center;
	}

	&__subtitle {
		margin: 0 0 8px 0;
	}

	&__title {
		font-family: 'Lato-Black';
	}
}

.slider-wide {
	position: relative;
	overflow: hidden;
	&__item {
		padding: 60px 105px;
		opacity: 0;
	}

	&__field {
		max-width: 1020px;
		min-height: 216px;
		background-color: #FFFFFF;
		padding: 64px 105px;
		display: flex;
		flex-direction: column;
	}

	&__text {
		position: relative;
		font-family: 'Lato-Regular';
		font-size: 20px;
		line-height: 150%;
		color: #424551;
		margin: 0 0 24px 0;
		flex: 1 1 auto;
		&:before {
			position: absolute;
			content: url(../img/main-page/testimonials/braces.png);
			width: 28px;
			height: 20px;
			top: 0;
			left: -58px;
		}
	}

	&__badge {
		display: grid;
		grid-template-areas: 'img name''img position';
		column-gap: 20px;
		grid-template-columns: 72px 150px;
		justify-self: flex-end;
	}

	&__img {
		grid-area: img;
		border-radius: 50%;
		width: 72px;
		height: 72px;
	}

	&__name {
		grid-area: name;
		font-size: 16px;
		line-height: 160%;
		color: #1E212C;
		align-self: flex-end;
		margin: 0 0 4px 0;
	}

	&__position {
		grid-area: position;
		font-family: 'Lato-Regular';
		font-size: 14px;
		line-height: 150%;
		color: #787A80;
		align-self: flex-start;
	}
	& .slick-track {
		display: flex;
		justify-content: space-between;
	}
	& .slick-active {
		opacity: 1;
	}
	& .slick-arrow {
		position: absolute;
		font-size: 0;
		z-index: 10;
	}
	& .slick-prev {
		top: 40%;
		left: 0;
		height: 48px;
		width: 48px;
		background: url(../img/main-page/team/slider/prev-hover.png);
		background-repeat: no-repeat;
		background-position: center;
		padding: 24px;
		&.slick-disabled {
			background: url(../img/main-page/team/slider/prev-btn.png);
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	& .slick-next {
		top: 40%;
		right: 0;
		height: 48px;
		width: 48px;
		background: url(../img/main-page/team/slider/next-hover.png);
		background-repeat: no-repeat;
		background-position: center;
		padding: 24px;
		&.slick-disabled {
			background: url(../img/main-page/team/slider/next-btn.png);
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	& .slick-dots {
		display: flex;
		justify-content: center;
		& li {
			&:not(:last-child) {
				margin: 0 12px 0 0;
			}
		}
		& button {
			font-size: 0;
			width: 30px;
			height: 3px;
			background-color: #B3B7BC;
		}
		& .slick-active button {
			background-color: #424551;
		}
	}
}
